@using TomKlonowski.Website.Helpers;

<!DOCTYPE html>
<html lang="en" data-ng-app="ngApp">
<head>
    <meta charset="utf-8" />
    <title data-ng-bind="'Tom Klonowski - ' + $root.title">Tom Klonowski</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")

    <script src="/Scripts/Global.js"></script>
    <script>
        Global.loadVars('@System.Configuration.ConfigurationManager.AppSettings["SiteUrl"]', '@System.Configuration.ConfigurationManager.AppSettings["ServiceStackUrl"]');
    </script>

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/customangular")

    @RenderSection("AngularJavascript", required: false)
</head>
<body>
    <div id="wrap">
        <div class="message-box">
        </div>
        <div id="main">
            <header>
                <div id="header">
                    <div id="logo">
                        <div id="logo_text">
                            <h1><a href="@Url.Action("Index", "Home")">Tom<span class="logo_colour">Klonowski</span></a></h1>
                            <h2>Development Portfolio</h2>
                        </div>
                    </div>
                    @Html.Partial("_Navigation")
                </div>
            </header>
            <div id="site_content">
                @Html.Partial("_Sidebar")
                <div id="content">
                    <div data-ng-view="" class="page-view" data-ng-class="pageAnimationClass">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        @Html.Partial("_Footer")
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            Global.init();
        });
    </script>
</body>
</html>
